savefile.json
backup.json
session.json
_pycache__/
Program/__pycache__/
Program/bsed.env
Tests/__pycache__/
.vscode/
.vscode/settings.json
Tests/test.db
Tests/test.py
Tests/test.ps1
Tests/Style_testing.html
Tests/test2.py